{% extends "base.html" %}
{% load static %}
{% block title %} Detail article {% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    {% block content %}
    <div class="container">
        <style>
            .article-image {
            border-radius: 5px;
            width: 100%;
            max-width: 800px;
            height: auto;
            object-fit: cover;
            display: block;
        }

        @media (max-width: 768px) {
            .article-image {
                max-width: 100%;
            }
        }
        .likes-section {
            display: flex;
            align-items: center;
        }

        .like-button {
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
        }

        .like-button img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .like-count {
            font-weight: bold;
            margin-right: 5px;
            font-size: 18px;
            color: green;
        }

        .like-button:hover {
            text-decoration: none;
            color: black;
        }

        .like-icon {
        width: 20px;  /* Установите ширину, как вам нужно */
        height: auto;  /* Сохранит пропорции изображения */
        padding-bottom: 3px;
        }

        </style>
        <div class="row">
            <div class="col-md-8">
                <h1 class="card-title">{{ article.title }}</h1><br>
                <p class="text-muted">{{ article.author }} | {{ article.published_date }}</p>
                <p class="text-muted">Категория: {{ article.category }}</p>
                {% if article.image_url %}
                    <img src="{{ article.image_url.url }}" class="article-image me-2 mb-2" alt="{{ article.title }}">
                {% endif %}
                <p class="text-muted" style="margin-top: 20px">{{ article.summary }}</p>
                <hr>
                <div>{{ article.content | safe }}</div>
                <strong>Теги:</strong>
                {% for tag in article.tags.all %}
                    <a href="{% url 'get_article_by_tag' tag.id %}">
                        <span class="badge bg-primary-gradient">#{{ tag.tag_name }}</span>
                    </a>
                {% endfor %}
                <p class="card-text">{{ article.content|truncatewords:20 }}</p>
                <p class="card-subtitle text-muted mb-2">Автор: | {{ article.author }} | {{ article.published_date }}</p>
                <div>
                    <span>Количество просмотров: {{ article.page_hit.count }}</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <div class="likes-section">
                        <a id="like-button" href="{% url 'like_article' article.id %}" class="like-button">
                                <img src="{% if user_has_liked %}{% static 'heart-solid.svg' %}
                                {% else %}{% static 'heart-regular.svg' %}{% endif %}"
                                     alt="Like" style="margin-bottom: 3px;">
                            <span id="like-count" class="like-count">{{ article.article_likes.count }}</span> Нравится
                        </a>
                    </div>
                    
                    {% if user == article.author.user %}
                    <div>
                        <a href="{% url 'update_article' article.id %}" class="btn btn-warning me-2">Изменить пост</a>
                        <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Удалить пост</a>
                    </div>
                    {% endif %}
                </div>
                <div class="comments mt-5">
                    <h3>Комментарии:</h3>
                    {% for comment in article.comments_set.all %}
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <h5 class="m-0">{{ comment.user }}</h5>
                                <div class="likes-section">
                                    <a id="like-button-{{ comment.id }}" href="{% url 'like_comment' comment.id %}" class="like-button">
                                        <img src="{% if comment.user_has_liked %}{% static 'heart-solid.svg' %}
                                                {% else %}{% static 'heart-regular.svg' %}{% endif %}"
                                             alt="Like" style="margin-bottom: 3px;">
                                        <span id="like-count-{{ comment.id }}" class="like-count">
                                            {% if comment.comment_likes.count > 0 %}
                                                {{ comment.comment_likes.count }}
                                            {% endif %}
                                        </span> Нравится
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ comment.text }}</p>
                            </div>
                            {% if request.user.author == comment.user %}
                                <div class="card-footer">
                                    <form action="{% url 'delete_comment' comment.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>


                <div class="add-comment mt-5">
                    <h3>Добавить комментарий:</h3>
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <textarea class="form-control" rows="3" id="comment-text" name="text" aria-label="With textarea"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Комментировать</button>
                    </form>
                </div>

                <!-- Добавленная кнопка для возвращения на главную страницу -->
                <div class="mt-5">
                    <a href="/" class="btn btn-secondary btn-lg btn-block">Вернуться на главную</a>
                </div>


{% endblock %}

{% block footer %} {% endblock %}
